.speaker {
    padding: 4rem;
}

.head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
}

.head h1 {
    font-size: 4.5rem;
    line-height: 1.1;
}

.head img {
    width: 8rem;
    height: 4rem;
    object-fit: contain;
}

.list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 4rem;
}

.l2 {
    position: absolute;
    top: 3rem;
    left: -6rem;
    width: fit-content;
    height: 100%;
    object-fit: contain;
}

.card {
    position: relative;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    overflow: hidden;
}

.speakerPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(width<=1280px) {
    .card {
        /* height: 18rem; */
    }
}

@media(width<=1300px) and (height<=700px) {
    .card {
        /* height: 17rem; */
    }
}

@media(width<=1024px) {
    .card {
        /* height: 14rem; */
    }
}

@media(width<=920px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        /* height: 16rem; */
    }
}

@media(width<=678px) {
    .speaker {
        padding: 2rem 1rem;
    }

    .head {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 1rem
    }

    .head h1 {
        font-size: 4rem;
    }

    .list {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.25rem;
    }

    .card {
        /* height: 19rem; */
    }

    .l2 {
        display: none;
    }
}

@media(width<400px) {
    .card {
        /* height: 17rem; */
    }
}