.pre {
    padding: 4rem;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.head h1 {
    font-size: 4.5rem;
}

.head img {
    width: 8rem;
    height: 8rem;
    object-fit: contain;
}

.scroll {
    margin-top: 4rem;
    /* overflow-y: scroll; */
    /* padding-bottom: 1rem; */
    /* scrollbar-width: none; */
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.card {
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    padding: 1.5rem;
    gap: 1rem;
    overflow: hidden;
    height: fit-content;
}

.cardBody {
    width: 30%;
    height: 15rem;
    position: relative;
    border-radius: 1rem;
}

.completed {
    position: absolute;
    background-color: #fff;
    border-radius: 5rem;
    top: .75rem;
    right: .75rem;
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    z-index: 99;
}

.eventPic {
    cursor: pointer;
    border-radius: 1rem;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.cardContent {
    width: 70%;
    padding: 1.75rem 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.cardContent .desc {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    line-height: 1.5;
}

.cardContent .reg {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.cardContent .reg span {
    background-color: var(--violet);
    color: #fff;
    padding: 0.5rem 1.25rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 800;
}

.cardContent .reg a {
    background-color: var(--red);
    border: 1px solid var(--red);
    color: #fff;
    padding: 0.5rem 1.25rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.cardContent .reg a:hover {
    background-color: #fff;
    color: var(--red);
}

@media (width<=1024px) {
    .cardContent {
        flex-direction: column-reverse;
    }

    .cardContent .desc {
        width: 100%;
    }

    .cardContent .reg {
        flex-direction: row;
    }
}

@media (width<=900px) {
    .card {
        flex-direction: column;
        gap: 2rem;
    }

    .cardBody,
    .cardContent {
        width: 100%;
    }

    .cardContent {
        padding: 0;
    }
}

@media (width<=820px) {
    .pre {
        padding: 4rem 2rem;
    }
}

@media (width<=678px) {
    .pre {
        padding: 4rem 1rem;
    }

    .scroll {
        margin-top: 2.75rem;
    }

    .card {
        gap: 1rem;
        padding: 1rem;
    }

    .l3 {
        width: 3.75rem;
        height: 3.75rem;
        top: 1rem;
    }

    .head {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .head h1 {
        font-size: 2.5rem;
    }

    .head img {
        height: fit-content;
    }

    .cardBody {
        padding-bottom: 0;
    }

    .cardContent .reg span,
    .cardContent .reg a {
        font-size: 0.8rem;
    }

    .cardContent .reg a {
        font-size: 0.5rem;
    }

    .cardContent .desc h1 {
        font-size: 1.75rem;
    }
}

@media (width<=400px) {
    .head h1 {
        font-size: 2.25rem;
    }

    .cardContent .reg span,
    .cardContent .reg a {
        font-size: 0.7rem;
        padding: 0.5rem 1.2rem;
    }

    .cardContent .reg a {
        font-size: 0.5rem;
    }

    .cardContent .desc h1 {
        font-size: 1.5rem;
    }

    .cardContent .desc p {
        font-size: 0.85rem;
    }
}

@media (width<=380px) {
    .head h1 {
        font-size: 2.15rem;
    }
}

.completedBadge {
    /* position: absolute; */
    /* top: 1rem; */
    /* right: 1rem; */
    background-color: #00d68f;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.75rem;
    font-weight: 800;
    text-transform: uppercase;
}