.realForm {
    height: fit-content;
    transition: height 0.3s ease, overflow-y 0.3s ease;
}

.realForm.incomplete {
    height: 80vh;
    overflow-y: scroll;
}

.head {
    margin-bottom: 1rem;
}

.head p {
    padding: 0.25rem 0;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.form>div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.form>div span {
    color: var(--red);
}

.form>div input,
.form>div select {
    padding: 0.75rem;
    background-color: #f9f9f9;
    border-radius: 0.25rem;
    border: none;
}

.form>div input[type="tel"] {
    width: 100%;
}

.form>div select option {
    color: #000;
}

.form>div select {
    padding-right: 2.5rem;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23000000' d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E") no-repeat right 1rem center;
    background-color: #f9f9f9;
    appearance: none;
    -webkit-appearance: none;
}

.radio {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: 3rem;
}

.submit button {
    position: absolute;
    bottom: -2.75rem;
    right: 0;
    background-color: var(--violet);
    color: #fff;
    text-transform: uppercase;
    padding: 0.9rem 2.5rem;
    border-radius: 25rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.thankYou {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 85%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.thankYou h2 {
    font-size: 3rem;
}

.thankYou button {
    background-color: var(--violet);
    color: #fff;
    text-transform: uppercase;
    padding: 0.9rem 2.5rem;
    border-radius: 25rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

@media (width<=678px) {
    .realForm {
        padding: 1rem;
    }
}

@media(width<=400px) {
    .realForm {
        height: 82vh;
        height: 82dvh;
        overflow-y: scroll;
    }
}