.pop {
    position: fixed;
    bottom: 1rem;
    right: 1.25rem;
    z-index: 9990;
    display: flex;
    align-items: center;
    gap: .75rem;
    animation: float 2s ease-in-out infinite;
}

.reg {
    height: 3.5rem;
    font-size: 1rem;
    display: grid;
    place-items: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: var(--violet);
    border: .5px solid var(--violet);
    padding: .7rem 1.5rem;
    border-radius: 5rem;
    transition: all .3s ease-in-out;
}

.regClosed{
    height: 3.5rem;
    font-size: 1rem;
    display: grid;
    place-items: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: #383838;
    padding: .7rem 1.5rem;
    border-radius: 5rem;
    transition: all .3s ease-in-out;
}

.reg:hover {
    color: var(--violet);
    background-color: #fff;
}

.whatsapp {
    background-color: #25D366;
    color: #fff;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
}

.whatsapp .icon {
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.whatsapp:hover .icon {
    scale: 1.2;
}

@keyframes float {
    50% {
        transform: translateY(-1rem);
    }
}

@media(width<=500px) {
    .pop {
        right: 1rem;
    }

    .whatsapp {
        width: 3.75rem;
        height: 3.75rem;
    }

    .whatsapp .icon {
        font-size: 1.75rem;
    }
}