.about {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 4rem 4rem;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

.popupContent {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}

.closeButton {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.location {
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: .75rem;
    font-weight: 700;
    line-height: 1.1;
}

.location>span {
    display: flex;
    justify-content: center;
    background: linear-gradient(-180deg, #716CF3 0%, #504dad 100%);
    padding: .5rem 1rem;
    border-radius: .75rem;
    color: #fff;
    gap: .25rem;
    font-size: var(--textlg);
}

.location .icon {
    position: relative;
    top: .15rem;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-items: center;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.3rem;
    line-height: 1.5;
    padding: .75rem;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255, .85);
    backdrop-filter: blur(10px);
}

.aboutContent .design {
    width: 10rem;
    height: fit-content;
}

.aboutContent h2 {
    font-size: var(--heading)
}

.aboutContent p {
    color: #3E3E3E;
}

.aboutContent span {
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.aboutContent .group {
    width: 8rem;
    height: 2rem;
    object-fit: contain;
}

.gallery a,
.aboutContent a {
    text-decoration: none;
    background-color: var(--red);
    padding: .7rem 2rem;
    border: none;
    border-radius: 5rem;
    color: #fff;
    font-size: .9rem;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(199, 0, 56, 0.35);
    transition: all 0.3s ease-in-out;
}

.gallery a:hover,
.aboutContent a:hover {
    background-color: #ffffff;
    color: var(--red);
}

.scroll {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 1rem;
    scrollbar-width: thin;
    scrollbar-color: var(--violet) #e4e4e4;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.thumbnailContainer {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thumbnailContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnailContainer .icon {
    position: absolute;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255, .8);
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.thumbnailContainer .icon:hover {
    background-color: #fff;
    scale: 1.2;
    box-shadow: 0 0 1px 20px rgba(255, 255, 255, 0.25);
}

.video {
    width: 100%;
    height: 20rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video[poster] {
    object-fit: cover;
}

.gallery,
.highlight {
    overflow: hidden;
    height: 35rem;
    background-color: #F9F9FF;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.highlight .fade {
    position: absolute;
    width: 100%;
    height: 11rem;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255) 100%);
    z-index: 9;
}

.highlight h2 {
    font-size: var(--subHeading);
    margin-bottom: 1rem;
}

.highlight .box {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
}

.youtube {
    flex-shrink: 0;
    height: 10rem;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.youtube .icon {
    position: absolute;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255, .8);
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.youtube:hover .icon {
    background-color: #fff;
    scale: 1.1;
    box-shadow: 0 0 1px 12px rgba(255, 255, 255, 0.25);
}

.highlight .box img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: 50% 20%;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.highlight .box img:hover {
    transform: scale(1.1);
}

.highlight .box span {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    color: #3E3E3E;
}

.highlight .box a {
    text-decoration: none;
}

.highlight .box span h3 {
    font-size: 1.75rem;
    color: #000;
}

.gallery {
    height: fit-content;
}

.galleryLink {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery .design {
    width: 10rem;
    height: 2.5rem;
}

.who {
    background-color: #F9F9FF;
    padding: 4rem 2rem 6rem;
    position: relative;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.who .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.who .head h2 {
    font-size: var(--heading);
}

.who .head img {
    object-fit: contain;
    width: fit-content;
    height: 2.5rem;
}

.whoContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    z-index: 2;
}

.whoContent .box {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    color: #3E3E3E;
}

.highlightImg {
    height: fit-content;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.highlightImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.whoContent .box h3 {
    margin-bottom: .5rem;
    font-size: var(--subHeading);
    color: #000;
}

.l1 {
    position: absolute;
    z-index: -1;
    left: -2rem;
    top: 10%;
    width: 55rem;
    height: 55rem;
    object-fit: contain;
}

.l4 {
    position: absolute;
    width: 10rem;
    height: fit-content;
    bottom: -6rem;
    right: 5rem;
    z-index: 1;
}

.aboutContent .about2 {
    font-size: var(--subHeading);
}

@media(width<=1280px) {

    .thumbnailContainer,
    .video {
        height: 15rem;
    }

    .highlight {
        height: 42rem;
    }

    .content {
        gap: 2rem;
    }

    .scroll {
        scrollbar-width: thin;
        overflow-y: scroll;
    }
}

@media(width<=1024px) {
    .l1 {
        width: 40rem;
        height: 40rem;
        object-fit: contain;
    }

    .aboutContent {
        font-size: 1.2rem;
    }

    .thumbnailContainer,
    .video {
        height: 11.5rem;
    }

    .gallery {
        padding: 1.25rem;
    }

    .galleryLink .design {
        width: 8rem;
    }

    .aboutContent h2 {
        font-size: var(--subHeading);
    }

    .highlight {
        padding: 1.5rem;
    }

    .highlight h2 {
        font-size: 1.75rem;
    }

    .highlight .box {
        padding: 1.5rem;
        gap: .5rem;
        flex-direction: column;
    }

    .highlight .box span {
        gap: .25rem;
    }

    .youtube,
    .highlight .box img {
        width: 100%;
        height: 7rem;
    }

    .highlight .box span h3 {
        font-size: var(--textmd);
    }

    .highlight .box span p {
        font-size: var(--textsm)
    }

    .whoContent {
        grid-template-columns: repeat(2, 1fr);
    }

    .aboutContent .about2 {
        font-size: 2.25rem;
    }
}

@media(width<=820px) {
    .about {
        padding: 4rem 2rem;
    }

    .thumbnailContainer,
    .video {
        height: 16rem;
    }

    .aboutContent .design {
        display: none;
    }

    .location {
        display: flex;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .l4 {
        width: 7rem;
        bottom: -4rem;
        right: 3rem;
    }

    .scroll {
        flex-direction: row;
        overflow-x: scroll;
        width: 100%;
        height: fit-content;
        scrollbar-width: none;
    }

    .highlight .fade {
        width: 30%;
        height: 100%;
        left: 80%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255) 100%);
    }

    .highlight {
        padding: 1.25rem .5rem;
        height: fit-content;
    }

    .highlight .box {
        padding: 1.5rem 1.25rem;
        width: 18rem;
    }

    .highlight h2 {
        padding: 1rem .5rem 0;
    }

    .youtube {
        width: 13rem;
    }

    .highlight .box img {
        height: 9rem;
    }
}

@media(width<=678px) {
    .about {
        padding: 2rem 1rem 4rem;
    }

    .days {
        display: flex;
        align-items: baseline;
        color: #fff;
    }

    .days div {
        width: 3.75rem;
        height: 3rem;
        border-radius: .75rem;
        background-color: var(--red);
        font-size: 1.5rem;
        position: relative;
        rotate: 5deg;
        display: grid;
        place-items: center;
    }

    .days div:first-child {
        left: .75rem;
    }

    .days div:last-child {
        right: .8rem;
        rotate: -7.5deg;
        background: linear-gradient(-180deg, #716CF3 0%, #504dad 100%);
    }

    .days div p {
        position: absolute;
    }

    .days div:first-child p {
        right: 1.25rem;
    }

    .days div:last-child p {
        right: 1.2rem;
    }

    .days div span {
        position: absolute;
        top: .8rem;
        right: .5rem;
        font-size: .75rem;
    }

    .days div:last-child span {
        right: .35rem;
    }

    .days>p {
        z-index: 1;
        font-size: 1.5rem;
        position: relative;
    }

    .date>p {
        color: var(--red);
        font-weight: 700;
        text-align: center;
        font-size: 1rem;
    }

    .location>span {
        border-radius: .5rem;
        font-size: .8rem;
    }

    .aboutContent {
        padding: .75rem 0.25rem;
    }

    .aboutContent .group {
        height: 2rem;
    }

    .aboutContent h2 {
        font-size: 2rem;
    }

    .aboutContent a {
        padding: .7rem 1.25rem;
        font-size: .8rem;
    }

    .highlight .box {
        padding: 1rem;
        gap: .75rem;
    }

    .highlight .box span {
        gap: .25rem;
    }

    .gallery {
        padding: 1.25rem 1rem;
    }

    .galleryLink .design {
        width: 6rem;
    }

    .who {
        padding: 2rem 1rem;
    }

    .who .head {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .who .head img {
        height: 1.75rem;
        width: 6rem;
    }

    .who .head h2 {
        font-size: 3rem;
    }

    .whoContent {
        grid-template-columns: repeat(1, 1fr);
    }

    .whoContent .box {
        padding: 1.5rem 1.25rem;
    }

    .highlight .box span h3 {
        line-height: 1.2;
    }

    .whoContent .box p {
        height: fit-content;
    }

    .l4 {
        width: 5rem;
        bottom: -3rem;
        right: 2rem;
    }

    .aboutContent .about2 {
        font-size: 2rem;
    }
}

@media(width<=400px) {
    .about {
        padding: 1rem 1rem 4rem;
    }

    .days div {
        width: 3rem;
        height: 2.75rem;
        border-radius: .5rem;
        font-size: 1rem;
    }

    .days div:first-child {
        left: .75rem;
    }

    .days div:last-child {
        right: .5rem;
    }

    .days div:first-child p {
        right: 1.25rem;
    }

    .days div:last-child p {
        right: 1.2rem;
    }

    .days div span {
        top: .9rem;
        right: .6rem;
        font-size: .6rem;
    }

    .days div:last-child span {
        right: .5rem;
    }

    .days>p {
        font-size: 1.25rem;
    }

    .date>p {
        font-size: .8rem;
    }

    .location>span {
        font-size: .75rem;
    }

    .l1 {
        width: 30rem;
        height: 30rem;
    }

    .highlight .box {
        width: 15rem;
    }

    .highlight .box span h3 {
        font-size: 1.3rem;
    }

    .who .head img {
        height: 1.75rem;
    }
}

@media(width<=380px) {
    .aboutContent .group {
        height: 1.5rem;
        width: 6.5rem;
    }

    .aboutContent a {
        padding: .65rem 1.25rem;
        font-size: .7rem;
    }

    .location>span {
        font-size: .7rem;
    }
}