.about {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 4rem;
}

.title {
    text-align: center;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-weight: 500;
}

.title span {
    font-weight: 700;
    color: #fff;
    background-color: var(--violet);
    padding: .5rem .75rem;
    border-radius: .5rem;
}

.design {
    position: absolute;
    left: 0;
    top: -3.5rem;
    z-index: -1;
    width: 7rem;
    height: 7rem;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-items: center;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.3rem;
    line-height: 1.5;
    padding-bottom: .5rem;
    border-radius: 1rem;
    background-color: #fff;
}

.aboutContent h2 {
    font-size: 2.5rem;
}

.aboutContent p {
    color: #3E3E3E;
}

.aboutContent span {
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.aboutContent .group {
    width: fit-content;
    height: 2rem;
    object-fit: contain;
}

.aboutContent a {
    text-decoration: none;
    background-color: var(--red);
    padding: .7rem 2rem;
    border: none;
    border-radius: 5rem;
    color: #fff;
    font-size: .9rem;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(199, 0, 56, 0.35);
    transition: all 0.3s ease-in-out;
}

.aboutContent a:hover {
    background-color: #ffffff;
    color: var(--red);
}

.scroll {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 1rem;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--violet) #e4e4e4;
    position: relative;
}

.highlight {
    overflow: hidden;
    height: 35rem;
    background-color: #F9F9FF;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.highlight .fade {
    position: absolute;
    width: 100%;
    height: 11rem;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255) 100%);
    z-index: 9;
}

.highlight h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.highlight .box {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
}

.sliderContainer {
    position: relative;
    width: 10rem;
    height: 10rem;
}

.highlight .box img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
}

.highlight .box span {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: #3E3E3E;
}

.highlight .box span h3 {
    font-size: 1.75rem;
    color: #000;
}

.who {
    background-color: #F9F9FF;
    padding: 4rem 2rem 6rem;
    position: relative;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.who .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.who .head h2 {
    font-size: 3rem;
}

.who .head img {
    object-fit: contain;
    width: fit-content;
    height: 2.5rem;
}

.whoContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    z-index: 2;
}

.whoContent .box {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    color: #3E3E3E;
}

.highlightImg {
    height: fit-content;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.highlightImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.whoContent .box h3 {
    font-size: 2rem;
    color: #000;
}

.whoContent .box p {
    height: 11rem;
}

.l1 {
    position: absolute;
    z-index: -1;
    left: -2rem;
    bottom: 10rem;
    width: 55rem;
    height: 55rem;
    object-fit: contain;
}

.l4 {
    position: absolute;
    width: 10rem;
    height: fit-content;
    bottom: -6rem;
    right: 5rem;
    z-index: 1;
}

@media(width<=1280px) {
    .whoContent .box p {
        height: 14rem;
    }
}

@media(width<=1024px) {
    .title h1 {
        font-size: 1.5rem;
    }

    .l1 {
        bottom: 0;
        top: 37rem;
        width: 40rem;
        height: 40rem;
        object-fit: contain;
    }

    .design {
        top: -1.5rem;
        width: 5rem;
        height: 5rem;
    }

    .aboutContent {
        font-size: 1.2rem;
    }

    .highlight {
        padding: 1.5rem
    }

    .highlight .box {
        padding: 1.5rem;
    }

    .highlight .box span {
        gap: .25rem;
    }

    .sliderContainer,
    .highlight .box img {
        width: 7rem;
        height: 7rem;
    }

    .highlight .box span h3 {
        font-size: 1.5rem;
    }

    .highlight .box span p {
        font-size: .8rem;
    }

    .whoContent {
        grid-template-columns: repeat(2, 1fr);
    }

    .whoContent .box p {
        height: 7rem;
    }
}

@media(width<=820px) {
    .content {
        grid-template-columns: 1fr;
    }

    .highlight .fade {
        display: none;
    }

    .title h1 {
        font-size: 1.35rem;
    }

    .design {
        width: 3rem;
        height: 3rem;
    }

    .whoContent .box p {
        height: 12rem;
    }

    .l4 {
        width: 7rem;
        bottom: -4rem;
        right: 3rem;
    }

    .scroll {
        flex-direction: row;
        overflow-x: scroll;
        width: 100%;
        height: fit-content;
    }

    .highlight .box {
        height: fit-content;
        padding: 1.5rem 1.25rem;
    }

    .highlight h2 {
        padding: 1rem .5rem 0;
    }

    .highlight {
        padding: 1.25rem .5rem;
        height: fit-content;
    }

    .highlight .box {
        width: 18rem;
        flex-direction: column;
    }

    .sliderContainer,
    .highlight .box img {
        height: 9rem;
        width: 100%;
    }
}

@media(width<=678px) {
    .about {
        gap: 2rem;
        padding: 1rem 1rem 4rem;
    }

    .l1 {
        top: 42rem;
    }

    .title h1 {
        line-height: 2.5;
    }

    .design {
        top: -3rem;
    }

    .aboutContent .group {
        height: 2rem;
    }

    .aboutContent a {
        padding: .7rem 1.25rem;
        font-size: .8rem;
    }

    .highlight .box {
        padding: 1rem;
    }

    .who {
        padding: 2rem 1rem;
    }

    .who .head {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .who .head img {
        height: 2rem;
    }

    .who .head h2 {
        font-size: 2.5rem;
    }

    .whoContent {
        grid-template-columns: repeat(1, 1fr);
    }

    .whoContent .box {
        padding: 1.5rem 1.25rem;
    }

    .highlight .box span h3 {
        line-height: 1.2;
    }

    .whoContent .box p {
        height: fit-content;
    }

    .l4 {
        width: 5rem;
        bottom: -3rem;
        right: 2rem;
    }
}

@media(width<=400px) {
    .l1 {
        top: 45rem;
        width: 30rem;
        height: 30rem;
    }

    .highlight .box {
        width: 15rem;
    }

    .highlight .box span h3 {
        font-size: 1.3rem;
    }

    .who .head img {
        height: 1.75rem;
    }

    .who .head h2 {
        font-size: 2.25rem;
    }
}

@media(width<=380px) {
    .aboutContent .group {
        height: 1.5rem;
    }

    .aboutContent a {
        padding: .65rem 1.25rem;
        font-size: .7rem;
    }

    .who .head h2 {
        font-size: 2.15rem;
    }
}