.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.banner {
    background-color: var(--red);
    padding: .75rem 0;
    color: #fff;
    font-weight: 600;
}

.banner p {
    padding: 0 .75rem;
}

.navbar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem 0rem;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav img {
    transition: all 0.3s ease-in-out;
}

/* Hamburger Icon Start*/
.menuIcon {
    cursor: pointer;
    display: none;
}

.menuIcon.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menuIcon.open .bar:nth-child(2) {
    opacity: 0;
}

.menuIcon.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    border-radius: 1rem;
    margin: 6px 0;
    transition: 0.4s;
}

/* Hamburger Icon End*/

.navbar .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar .logo,
.navbar .logo_Mobile {
    width: 5.5rem;
    height: fit-content;
    object-fit: contain;
}

.navbar .logo {
    display: none;
}

.navbar.scrolled .logo_Mobile {
    width: 4.75rem;
}

.navbar .links .linkBlocks {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    transition: all 0.3s ease-in-out;
}

.links.scrolled .linkBlocks {
    top: 0;
}

.navbar .links .linkBlocks .link {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.navbar .links .linkBlocks .link.active {
    color: var(--violet);
}

.navbar .links .linkBlocks span {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar.scrolled .links .linkBlocks .link {
    color: #000;
}

.navbar .links .linkBlocks .link:hover {
    color: var(--violet);
}

.navbar.scrolled {
    padding: 1rem 1.5rem;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .linkBlocks .link {
    transition: all 0.3s ease-in-out;
}

.navbar.scrolled .linkBlocks .link.active {
    color: var(--violet);
}

.navbar.scrolled .linkBlocks {
    background-color: transparent;
}

.navbar .linkBlocks .contact,
.navbar .linkBlocks .reg {
    color: #000;
    text-decoration: none;
    border-radius: 15rem;
    border: 1px solid #000;
    font-weight: 600;
    padding: .75rem 1.5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: all 0.3s ease-in-out;
}

.navbar .linkBlocks .reg {
    background-color: var(--violet);
    color: #fff;
    border: 1px solid var(--violet);
}

.navbar .linkBlocks .reg:hover {
    background-color: #fff;
    color: var(--violet);
    border: 1px solid var(--violet);
}

.navbar .linkBlocks .contact:hover {
    color: var(--violet);
    border: 1px solid var(--violet);
}

@media(width<=1280px) {
    .navbar .links .linkBlocks {
        gap: 1.75rem;
    }

    .navbar .links .linkBlocks .link {
        font-size: .9rem;
    }

    .navbar .linkBlocks .contact,
    .navbar .linkBlocks .reg {
        font-size: .9rem;
        padding: .75rem 1rem;
    }
}

@media(width<=1024px) {
    .navbar {
        padding: 2rem 2.5rem 0rem;
    }

    .navbar .links .linkBlocks {
        gap: 1.2rem;
    }

    .navbar .links .linkBlocks span {
        gap: .5rem;
    }

    .navbar .links .linkBlocks .link {
        font-size: .8rem;
    }
}

@media (width<=912px) {
    .menuIcon {
        display: block;
    }

    .navbar {
        transition: none;
        flex-direction: row-reverse;
        height: 6rem;
        padding: 1.5rem;
    }

    .navbar.scrolled {
        height: 5.6rem;
        background-color: #fff;
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
    }

    .navbar.open {
        box-shadow: none;
        background-color: #fff;
    }

    .navbar.scrolled .logo_Mobile,
    .logo_Mobile {
        display: none;
    }

    .navbar .logo {
        display: block;
        width: 4.5rem;
    }

    .navbar .links {
        display: none;
    }

    .navbar .links .linkBlocks {
        display: none;
        width: 100%;
        gap: 2rem;
        padding-top: 1rem;
    }

    .navbar .linkBlocks .contact {
        margin-bottom: 1.5rem;
    }

    .links {
        flex-direction: column;
        position: absolute;
        top: -5rem;
        left: 0;
        right: 0;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        backdrop-filter: blur(10px);
    }

    .links .linkBlocks .link {
        color: #000;
        width: 100%;
    }

    .links.open {
        display: flex;
        top: 5rem;
        background-color: rgba(255, 255, 255);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .links.open .linkBlocks {
        display: flex;
        flex-direction: column;
        background: none;
    }

    .links.open .linkBlocks .link {
        width: 100%;
        color: #000;
        font-size: 1.2rem;
        padding: .5rem;
        text-align: center;
    }

    .navbar .links .linkBlocks span {
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
        top: -.8rem;
    }

    .navbar .linkBlocks .contact {
        margin-top: 1.5rem;
    }
}

@media (width<=678px) {
    .navbar.scrolled .logo {
        width: 4.25rem;
    }

    .navbar,
    .navbar.scrolled {
        padding: 1rem;
    }

    .navbar .linkBlocks .contact,
    .navbar .linkBlocks .reg {
        font-size: .8rem;
        padding: .5rem 1rem;
    }
}

@media (width<=380px) {
    .navbar {
        height: 5rem;
    }

    .navbar.scrolled {
        height: 4.5rem;
    }

    .links {
        top: -1.5rem;
    }

    .links.open {
        top: 4rem;
    }

    .navbar .linkBlocks .contact,
    .navbar .linkBlocks .reg {
        font-size: .75rem;
        padding: .75rem;
    }
}