.hero {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 7rem 4rem 4rem;
    height: fit-content;
}

.head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head .design {
    display: none;
    position: absolute;
}

.location {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: .75rem;
    font-weight: 700;
    line-height: 1.1;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.days {
    width: fit-content;
    display: flex;
    align-items: baseline;
    color: #fff;
}

.days div {
    width: 5rem;
    height: 3.5rem;
    border-radius: .75rem;
    background-color: var(--red);
    font-size: 2rem;
    position: relative;
    rotate: 5deg;
    display: grid;
    place-items: center;
}

.days div:first-child {
    left: .75rem;
    width: 5.25rem;
}

.days div:last-child {
    right: 1.1rem;
    rotate: -7.5deg;
    background: linear-gradient(-180deg, #716CF3 0%, #504dad 100%);
}

.days div p {
    position: absolute;
}

.days div:first-child p {
    right: 2rem;
}

.days div:last-child p {
    right: 1.5rem;
}

.days div span {
    position: absolute;
    top: .9rem;
    right: 1rem;
    font-size: 1rem;
}

.days div:last-child span {
    right: .5rem;
}

.days>p {
    z-index: 1;
    font-size: 1.75rem;
    position: relative;
}

.date>p {
    color: var(--red);
    font-weight: 700;
    text-align: center;
    font-size: var(--subHeading);
}

.location>span {
    display: flex;
    justify-content: center;
    background: linear-gradient(-180deg, #716CF3 0%, #504dad 100%);
    padding: .5rem 1rem;
    border-radius: .75rem;
    color: #fff;
    gap: .25rem;
    font-size: var(--textlg);
}

.location .icon {
    position: relative;
    top: .15rem;
}

.hero h1 {
    font-size: var(--heading);
    letter-spacing: -2.75px;
}

.hero h1 span {
    letter-spacing: 0;
    position: relative;
    top: -.75rem;
    color: #fff;
    border-radius: .75rem;
    font-size: var(--subHeading);
    padding: .1rem 1.75rem;
    background: linear-gradient(-180deg, #716CF3 0%, #504dad 100%);
}

.imgContainer {
    position: relative;
    height: 100%;
}

.laptop {
    height: 72vh;
    width: 100%;
}

.mobile {
    display: none;
}

.clock {
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
}

.counter {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
}

.counter>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--textmd);
    color: #000;
    backdrop-filter: blur(10px);
    padding: 1.5rem 2.2rem;
    border-radius: .8rem;
    border: .8px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(124, 124, 124, 0.1);
    width: 10rem;
}

.counter div span {
    font-size: var(--heading);
    color: #fff;
}

@media(width<=1024px) {
    .days {
        position: relative;
        right: -1rem;
    }

    .days div {
        width: 3.5rem;
        height: 2.5rem;
        font-size: 1.25rem;
    }

    .days div:first-child {
        left: .75rem;
        width: 4rem;
    }

    .days div:last-child {
        right: .9rem;
    }

    .days div:first-child p {
        right: 1.7rem;
    }

    .days div span {
        top: .6rem;
        right: 1rem;
        font-size: .65rem;
    }

    .date>p {
        font-size: var(--textlg);
        position: relative;
        right: -.75rem;
    }

    .days>p {
        font-size: 1.25rem;
        right: .25rem;
    }

    .location>span {
        font-size: var(--textmd);
    }

    .hero h1 {
        font-size: 3rem;
    }

    .hero h1 span {
        top: 0rem;
    }

    .clock {
        bottom: -3.5rem;
    }

    .counter>div {
        width: 8rem;
        padding: 1rem 1.5rem;
    }
}

@media(width<=820px) {
    .hero {
        height: fit-content;
        padding-bottom: 4rem;
    }

    .head .design {
        display: block;
        right: .25rem;
        bottom: .75rem;
        width: 8rem;
        height: 2rem;
    }

    .location {
        display: none;
    }

    .hero h1 {
        font-size: 4rem;
    }

    .hero h1 span {
        top: -.75rem;
    }

    .laptop {
        display: none;
    }

    .mobile {
        display: block;
        height: 30rem;
    }

    .clock {
        bottom: -4.25rem;
    }
}

@media(width<=560px) {
    .hero {
        padding: 0rem 1rem 4rem;
        margin-top: 6rem;
        gap: 1.25rem;
    }

    .hero h1 {
        font-size: 2.35rem;
    }

    .hero h1 span {
        font-size: var(--textlg);
        padding: .35rem 1.75rem;
    }

    .head .design {
        width: 6rem;
    }

    .mobile {
        height: 20rem;
    }

    .clock {
        bottom: -3rem;
    }

    .counter {
        gap: .4rem;
    }

    .counter div span {
        font-size: 2.5rem;
    }

    .counter>div {
        width: 5rem;
        padding: .5rem 1rem;
        font-size: .75rem;
    }
}

@media(width<=400px) {
    .clock {
        bottom: -3rem;
    }

    .counter div span {
        font-size: 1.75rem;
    }

    .mobile {
        height: 18rem;
    }
}

@media(width<=380px) {
    .head h1 {
        font-size: 2.1rem;
    }

    .head h1 span {
        font-size: 1.15rem;
        top: -.35rem;
    }

    .head .design {
        width: 5rem;
        bottom: .5rem;
    }

    .clock {
        bottom: -2.5rem;
    }

    .counter div span {
        font-size: 1.5rem;
    }

    .counter div {
        width: 4.25rem;
        padding: .75rem 1rem;
    }
}